@model GatePassApplicaation.Models.AuthorizedBy

<div>
    <h4>AuthorizedBy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfGoods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfGoods)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreparedPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreparedPerson)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AuthorizedPerson)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AuthorizedPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.takenBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.takenBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
</div>
